
@{
    ViewData["Title"] = "index";
}

<h2>index</h2>
<ul>
    <li>
        <a href="https://localhost:44314/kleuren/">
            Kleuren generator
        </a>
    </li>

    <li>
        <a href="https://localhost:44314/kleuren/20">
            Kleuren generator (20 kleuren)
        </a>
    </li>

    <li>
        <a href="https://localhost:44314/Resolvedns/amazon.com">
            DNS Resolutie: Amazon.com
        </a>
    </li>

    <li>
        <a href="https://localhost:44314/Resolvedns/cloudflare.com">
            DNS Resolutie: Cloudflare.com
        </a>
    </li>
</ul>