
@{
    ViewData["Title"] = "index";
}

<h2>index</h2>
<a href="https://localhost:44314/kleuren/Kleuren">
    Kleuren generator
</a>
<br />
<a href="https://localhost:44314/kleuren/Kleuren/20">
    Kleuren generator (20 kleuren)
</a>
<br />
<a href="https://localhost:44314/Dns/DnsCheck/Amazon.com">
    DNS Resolutie: Amazon.com
</a>
<br />
<a href="https://localhost:44314/Dns/DnsCheck/cloudflare.com">
    DNS Resolutie: Cloudflare.com
</a>