
@{
    ViewData["Title"] = "kleuren";
}

<h2>Kleuren</h2>
<p>TEST TEST TEST</p>
<div style="width:75px; height:50px; background:rgb(255, 10, 25);"></div>
<div style="width:75px; height:50px; background:rgb(20, 127, 25);"></div>

